<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gulp webpack browser-sync </title>
    <link rel="stylesheet" href="../dist/style/common.css">
    <link rel="stylesheet" href="../dist/style/page1.css">
</head>
<body>
<header>顶部</header>
<h2>Gulp webpack browser-sync </h2>
<p>测试示例!!!</p>
<div class="page1">Page1页面</div>
<div class="main"></div>
<script src="//apps.bdimg.com/libs/moment/2.8.3/moment-with-locales.min.js"></script>
<script src="../dist/js/common.js"></script>
<script src="../dist/js/page1.js"></script>
</body>
</html>